DB_URL="postgresql://admin:admin@t2-profile-db:5432/profile?schema=public"
CONTENT_URL=https://t2-content-snap-msg-content-julianquino.cloud.okteto.net/
APP_PORT=3001
DB_PORT=5433
PGADMIN_PORT=5052
PRISMA_PORT=5053
